.bar {
  background: none;
  
  font-family: "VictorMono Nerd Font";
  font-size: 22px;
}

.item {
  margin: 10px;
  padding: 12px;

  border: none;
  border-radius: 0px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.75);

  background: #1e1e2e;
  background-color: #1e1e2e;
  color: #cdd6f4;
}

.workspaces button {
  margin: 0;
  padding: 0;
  border: none;
  
  padding-left: 8px;
  padding-right: 8px;
  
  background: none;
  box-shadow: none;
  color: #cdd6f4;
}

.workspaces .button-selected {
  background-color: #a6e3a1;
}

.workspaces .button-selected button {
  color: #1e1e2e;
  border-radius: 15px;
}

.symbol {
  padding-right: 14px;
  font-family: "Iosevka Nerd Font";
}

.disk-symbol {
  color: #89dceb;
}

.cpu-symbol, .memory-symbol {
  color: #a6e3a1;
}

.memory-symbol {
  padding-right: 18px;
}

.battery-symbol {
  color: #f9e2af;
  padding-right: 28px;
}

.volume-symbol {
  color: #fab387;
}

.network-symbol {
  color: #cba6f7;
  padding-right: 24px;
}